nav a {
    color: white;
    display: block;
    padding: 20px;
}

nav{
    background-color: darkblue;
    padding:10 px;
}

h1 {
    color: darkblue;
}

img{
    width: 15;
    height:auto;
    border: 1px solid black;
    box-shadow:0 0 30px gray;
}

p{
    padding: 10px;
}